{{ define "main" }}
<!-- Hero Section -->
<div
  class="p-5 vh-50 bg-primary text-white d-flex justify-content-center align-items-center"
  style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ .Params.cover | relURL }}') no-repeat center center/cover;"
>
  <div class="text-center">
    <h1 class="display-4">{{ .Title }}</h1>
    <p class="lead">Our Mission and Vision</p>
  </div>
</div>

<!-- Mission and Vision Section -->
<div class="container my-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">{{.Content}}</div>
  </div>
</div>

{{ end }}
