{{ define "main" }}
<!-- Hero Section -->
<div class="p-5 vh-50 bg-primary text-white d-flex justify-content-center align-items-center"
  style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ "img/covers/cover1.jpg" | relURL }}') no-repeat center center/cover;">
  <div class="text-center">
    <h1 class="display-4">{{.Title}}</h1>
    <p class="lead">{{.Params.description}}</p>
  </div>
</div>

<div class="container my-5">
  
  <div class="row">
    {{ range .Pages }}
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="{{ .Params.image | relURL }}" class="card-img-top" alt="{{ .Title }}">
          <div class="card-body">
            <h5 class="card-title">{{ .Title }}</h5>
            <p class="card-text">{{ .Params.description }}</p>
            <a href="{{ .RelPermalink }}" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
  
</div>

{{ end }}
