{{ define "main" }}
<!-- Hero Section -->
<div class="p-5 vh-100 bg-primary text-white d-flex justify-content-center align-items-center"
  style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('{{ "img/covers/cover1.jpg" | relURL }}') no-repeat center center/cover;">
  <div class="text-center">
    <h1 class="display-4">{{ .Site.Title }}</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, mollitia.</p>
  </div>
</div>

<!-- About Section -->
<div class="container my-5">
    <div class="col-lg-10 offset-lg-1">
      {{ .Content }}
    </div>
</div>

{{ end }}
