{{ define "main" }}

<div class="container my-5">
  <div class="row">
    <!-- Left side content -->
    <div class="col-lg-8">{{.Content}}</div>

    <!-- Right side content for links and quick facts -->
    <div class="col-lg-4">
      <h3>Quick Facts</h3>
      <p>
        Laboratory for Cognitive Modeling <br />
        University of Ljubljana <br />
        Faculty of Computer and Information Science <br />
        Večna pot 113 <br />
        1000 Ljubljana <br />
        Slovenia
      </p>
      <p>tel: +386-1-4798-226</p>
      <p>
        <a href="http://sicris.izum.si/search/grp.aspx?lang=slv&amp;id=6836"
          >Research group at SICRIS</a
        >
      </p>
    </div>
  </div>
</div>

{{end}}
